<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detection.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/actionconstraint.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/demodashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">

    


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <title>ACCORD - Dashboard</title>
</head>
<body>
    <header>
        <center><h1>ACCORD: Constraint Driven Mediation for Conflicts in Cloud Services</h1></center>
        <div class="user-info">
            {{ username }} | <a href="{{ url_for('logout') }}">Logout</a>
            <button id="refresh-btn" class="btn-refresh" onclick="refreshLogs()">Refresh Logs</button>
            <div id="refresh_loader" class="loader centered-loader" style="display:none;">
              <img src="{{ url_for('static', filename='img/loader.gif') }}" alt="Loading...">
            </div>
        </div>
    </header>
    <nav>
        <ul>
            <!-- <li><a href="#tab-1">Conflict Detection</a></li>
            <li><a href="#tab-2">Action Constraints</a></li> -->
            <li><a href="#tab-3">Demonstration</a></li>
            {% if user_role == 'admin' %}
            <li><a href="#admin-tab-1">Activity Logs</a></li>
            <li><a href="#admin-tab-2">Action Simulator</a></li>
            <li><a href="#admin-tab-3">Register New User</a></li>
            {% endif %}
        </ul>
    </nav>


    <main>
        <!---- CONFLICT DETECTION ---------------------->
        <div id="tab-1" class="tab-content">
            <center><h2>Detect conflicts in the Cloud</h2></center>
            <div class="filter-options">
                <div class="filter-group">
                  <label for="dropdown-1">Choose Action:</label>
                  <select id="dropdown-1">
                    <option value="Any">Any</option>
                    <option value="Create">Create</option>
                    <option value="Delete">Delete</option>
                    <option value="Edit">Edit</option>
                    <option value="Move">Move</option>
                    <option value="Permission Change">Permission Change</option>
                  </select>
                </div>
                
                <div class="filter-group">
                  <label for="dropdown-2">Choose Actor:</label>
                  <select id="dropdown-2">
                    {% for option in options_actor %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                  </select>
                </div>
                
                <div class="filter-group">
                  <label for="dropdown-3">Choose Document:</label>
                  <select id="dropdown-3">
                    {% for option in options_document %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                  </select>
                </div>
                
                <div class="filter-buttons">
                  <button id="filter-btn" onclick="detectConflicts()">Detect Conflicts</button>
                  <button id="reset-btn" onclick="clearConflicts()">Reset</button>
                </div>
              </div>
              

              <p id="detection-label" style="display: none;"></p>
              <div class="image-container">
                <img src="{{ url_for('static', filename='img/conflictdetection.png') }}" alt="Conflict Detection Process">
              </div>
              
              <div id="detect_loader" class="loader" style="display:none;">
                <img src="{{ url_for('static', filename='img/loader.gif') }}" alt="Loading...">
              </div>

              
              <div id="logs-table-container" style="display: none;">
                <table id="logs-table" class="conflicts-table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Activity Time</th>
                      <th>Action</th>
                      <th>Document</th>
                      <th>Actor</th>
                      <th>Conflict</th>
                      <th>Resolution</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>

               
              </div>  



        </div>
        
        <!---- CONFLICT DETECTION END---------------------->



         <!---- ACTION CONSTRAINTS---------------------->

        <div id="tab-2" class="tab-content">
            <center><h2>Add Action Constraints</h2></center>
            <form>
              <div class="grid">
                <div class="item">
                    <label for="document">Choose Document:</label>
                    <select id="documentComboBox"></select>
                </div>
                <div class="item">
                    <label for="action">Choose Action:</label>
                    <select id="actionComboBox"></select>
                </div>
                <div class="item">
                    <label for="actionType">Choose Action Type:</label>
                    <select id="actionTypeComboBox"></select>
                </div>
                <div class="item">
                    <label for="actor">Choose Target Actor:</label>
                    <select id="actorComboBox"></select>
                </div>
                <div class="item">
                    <label for="actionValue">Choose Action Value:</label>
                    <select id="actionValueComboBox"></select>
                </div>
                <div class="item">
                    <label for="comparator">Set Comparator:</label>
                    <select id="comparatorBox"></select>
                </div>
                <div class="item">
                    <label for="trueValue">Enter Allowed Values:</label>
                    <input type="text" id="trueValueEdit" disabled>
                </div>
            </div>
            
            <div class="filter-buttons">
                <button id="clearButton">Clear</button>
                <button id="addConstraintButton">Add Constraint</button>
            </div>
            <div class="constraint">
                <p id="constraintLabel"></p>
            </div>
          </form>
            
        </div>
         <!---- ACTION CONSTRAINTS END---------------------->
        
        <!---------  DEMO TAB DETAILS START -->
         <div id="tab-3" class="tab-content">
            
            
            <div id="loader" class="loader" style="display:none;">
                <img src="{{ url_for('static', filename='img/loader2.gif') }}" alt="Loading...">
            </div>
            <p id="current-date" style="display:none;" value="2023-01-15T00:00:00.000Z"></p>
            <div class="demo-dashboard">
                <center><h2 id="dashboard-header">ACCORD's Demonstration tasks - Conflict Scenarios</h2></center>
                <div id="demo-table">
                    <table class="data-table">
                        <thead>
                            <tr class="header-row">
                                <th>S.No</th>
                                <th>Conflict Description</th>
                                <th>Conflict Type</th>
                                <th>Conflict Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row">
                                <td>1</td>
                                <td>Scenario 1</td>
                                <td>Unauthroized permission addition</td>
                                <td>Permission Change</td>
                            </tr>

                            <tr class="row">
                                <td>2</td>
                                <td>Scenario 2</td>
                                <td>Unauthorized permission removal</td>
                                <td>Permission Change</td>
                            </tr>

                            <tr class="row">
                                <td>3</td>
                                <td>Scenario 3</td>
                                <td>Unauthorized permission update</td>
                                <td>Permission Change</td>
                            </tr>

                            <tr class="row">
                                <td>4</td>
                                <td>Scenario 4</td>
                                <td>Unauthorized edit</td>
                                <td>Edit</td>
                            </tr>

                            <tr class="row">
                                <td>5</td>
                                <td>Scenario 5</td>
                                <td>Unauthorized edit out of timeframe</td>
                                <td>Edit</td>
                            </tr>

                            <tr class="row">
                                <td>6</td>
                                <td>Scenario 6</td>
                                <td>Unauthorized move</td>
                                <td>Move</td>
                            </tr>

                            <tr class="row">
                                <td>7</td>
                                <td>Scenario 8</td>
                                <td>Unauthorized deletion</td>
                                <td>Delete</td>
                            </tr>

                            <tr class="row">
                                <td>8</td>
                                <td>Scenario 9</td>
                                <td>Unauthorized creation</td>
                                <td>Create</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <!-- New div element to show the simulation actions -->
                <div id="conflict-actions-display">
                    <p id="status-message"></p>
                    <table class="data-table" id="log-table" style="display: none;">
                        <thead>
                            <tr class="header-row">
                                <th>S.No</th>
                                <th>Activity</th>
                                <th>Resource</th>
                                <th>Actor</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            
            
            
          
      </div>          
            
  


        <!----------------DEMO TAB END -->

        {% if user_role == 'admin' %}
         <!---- DRIVE LOG EVENTS ---------------------->
        <div id="admin-tab-1" class="tab-content">
            <h2>Drive Log Events</h2>
            <p>This is the content for Admin Tab 1.</p>
        </div>
        <!---- DRIVE LOG EVENTS  END---------------------->
        

        <!---- SIMULATE ACTIONS---------------------->
        <div id="admin-tab-2" class="tab-content">
            <h2>Simulate Actions</h2>
            <p>This is the content for Admin Tab 2.</p>
        </div>
        <!---- SIMULATE ACTIONS END---------------------->
        
        <!---- REGISTER or ADD USER---------------------->
        <div id="admin-tab-3" class="tab-content">
            <center><h2>Register New User</h2></center>
            <form id="register-form">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="role">Role:</label>
                <select id="role" name="role" required>
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>

                <button type="submit">Register</button>
            </form>
        </div>

        <!---- REGISTER USER END---------------------->

        {% endif %}
    </main>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/detection.js') }}"></script>
    <script src="{{ url_for('static', filename='js/actionconstraint.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demodashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>
</html>
