<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detection.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/actionconstraint.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userstudy.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">

    


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <title>Conflict Detection-Resolution | Dashboard</title>
</head>
<body>
    <header>
        <center><h1>Welcome to Privacy Conflict Detection Dashboard</h1></center>
        <div class="user-info">
            {{ username }} | <a href="{{ url_for('logout') }}">Logout</a>
            <button id="refresh-btn" class="btn-refresh" onclick="refreshLogs()">Refresh Logs</button>
            <div id="refresh_loader" class="loader centered-loader" style="display:none;">
              <img src="{{ url_for('static', filename='img/loader.gif') }}" alt="Loading...">
            </div>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="#tab-1">Conflict Detection</a></li>
            <li><a href="#tab-2">Action Constraints</a></li>
            <li><a href="#tab-3">User Study</a></li>
            {% if user_role == 'admin' %}
            <li><a href="#admin-tab-1">Activity Logs</a></li>
            <li><a href="#admin-tab-2">Action Simulator</a></li>
            <li><a href="#admin-tab-3">Register New User</a></li>
            {% endif %}
        </ul>
    </nav>


    <main>
        <!---- CONFLICT DETECTION ---------------------->
        <div id="tab-1" class="tab-content">
            <center><h2>Detect conflicts in the Cloud</h2></center>
            <div class="filter-options">
                <div class="filter-group">
                  <label for="dropdown-1">Choose Action:</label>
                  <select id="dropdown-1">
                    <option value="Any">Any</option>
                    <option value="Create">Create</option>
                    <option value="Delete">Delete</option>
                    <option value="Edit">Edit</option>
                    <option value="Move">Move</option>
                    <option value="Permission Change">Permission Change</option>
                  </select>
                </div>
                
                <div class="filter-group">
                  <label for="dropdown-2">Choose Actor:</label>
                  <select id="dropdown-2">
                    {% for option in options_actor %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                  </select>
                </div>
                
                <div class="filter-group">
                  <label for="dropdown-3">Choose Document:</label>
                  <select id="dropdown-3">
                    {% for option in options_document %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                  </select>
                </div>
                
                <div class="filter-buttons">
                  <button id="filter-btn" onclick="detectConflicts()">Detect Conflicts</button>
                  <button id="reset-btn" onclick="clearConflicts()">Reset</button>
                </div>
              </div>
              

              <p id="detection-label" style="display: none;"></p>
              <div class="image-container">
                <img src="{{ url_for('static', filename='img/conflictdetection.png') }}" alt="Conflict Detection Process">
              </div>
              
              <div id="detect_loader" class="loader" style="display:none;">
                <img src="{{ url_for('static', filename='img/loader.gif') }}" alt="Loading...">
              </div>

              
              <div id="logs-table-container" style="display: none;">
                <table id="logs-table" class="conflicts-table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Activity Time</th>
                      <th>Action</th>
                      <th>Document</th>
                      <th>Actor</th>
                      <th>Conflict</th>
                      <th>Resolution</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>

               
              </div>  



        </div>
        
        <!---- CONFLICT DETECTION END---------------------->



         <!---- ACTION CONSTRAINTS---------------------->

        <div id="tab-2" class="tab-content">
            <center><h2>Add Action Constraints</h2></center>
            <form>
              <div class="grid">
                <div class="item">
                    <label for="document">Choose Document:</label>
                    <select id="documentComboBox"></select>
                </div>
                <div class="item">
                    <label for="action">Choose Action:</label>
                    <select id="actionComboBox"></select>
                </div>
                <div class="item">
                    <label for="actionType">Choose Action Type:</label>
                    <select id="actionTypeComboBox"></select>
                </div>
                <div class="item">
                    <label for="actor">Choose Target Actor:</label>
                    <select id="actorComboBox"></select>
                </div>
                <div class="item">
                    <label for="actionValue">Choose Action Value:</label>
                    <select id="actionValueComboBox"></select>
                </div>
                <div class="item">
                    <label for="comparator">Set Comparator:</label>
                    <select id="comparatorBox"></select>
                </div>
                <div class="item">
                    <label for="trueValue">Enter Allowed Values:</label>
                    <input type="text" id="trueValueEdit" disabled>
                </div>
            </div>
            
            <div class="filter-buttons">
                <button id="clearButton">Clear</button>
                <button id="addConstraintButton">Add Constraint</button>
            </div>
            <div class="constraint">
                <p id="constraintLabel"></p>
            </div>
          </form>
            
        </div>
         <!---- ACTION CONSTRAINTS END---------------------->
        
        <!---------  USER STUDY TAB DETAILS START -->
         <div id="tab-3" class="tab-content">
            <center><h2>User study tasks</h2></center>
            
            <div id="loader" class="loader" style="display:none;">
                <img src="{{ url_for('static', filename='img/loader2.gif') }}" alt="Loading...">
            </div>
            <p id="current-date" style="display:none;" value="2023-01-15T00:00:00.000Z"></p>
            <div class="instructions">
                <h3>Instructions for the User participating in the study:</h3>
                <ol>
                    <li>Complete all five tasks and provide responses for each one.</li>
                    <li>Wait at least 30 seconds for the task to initialize and simulate the actions and conflicts.</li>
                    <li>Read through what happened in each task and view the conflicts that occurred.</li>
                    <li>View the proposed resolutions and execute them to resolve the conflict.</li>
                    <li>Provide feedback on the acceptability and effectiveness of the resolution after resolving the conflict.</li>
                    <li>Repeat the process for all five tasks and provide authentic responses.</li>
                  </ol>
            </div>
           
            <ul class="list-group list-group-flush">
                
                <li class="list-group-item task active" id="task1" onclick="openModal('task1-modal', 'task1')">Task 1: Permission Change Conflicts</li>
                <li class="list-group-item task disabled" id="task2" onclick="openModal('task2-modal', 'task2')">Task 2: Move Conflicts</li>
                <li class="list-group-item task disabled" id="task3" onclick="openModal('task3-modal', 'task3')">Task 3: Edit Conflicts</li>
                <li class="list-group-item task disabled" id="task4" onclick="openModal('task4-modal', 'task4')">Task 4: Delete Conflicts</li>
                <li class="list-group-item task disabled" id="task5" onclick="openModal('task5-modal', 'task5')">Task 5: Create Conflicts</li>
              </ul>
          <p class="thank-you-message" style="display: none;">Thank you for providing your responses!</p>
          
      </div>          
            
       

         <!-- Task modal-1 -->
          <div class="modal" tabindex="-1" id="task1-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <center><h5 class="modal-title">Permission Change Conflicts</h5></center>
                        <button type="button" class="close-btn" onclick="closeModal('task1-modal')">&times;</button>
                        
                    </div>
                    <div class="modal-body">
                        <div class="modal-narration">


                        </div>

                        <!---- User Response  -->
                        <p id="us-detection-label" style="display: none;"></p><br>
                        <div class="User-responses">

                            <center><button id="show-conflicts-btn" class="show-conflicts-btn" type="button" class="btn btn-primary" onclick="showdetectedConflicts('task1-modal', 'show-conflicts-btn')">Show Conflicts</button></center>
                            
                            <div id="us-detect_loader" class="loader" style="display:none;">
                                <img src="{{ url_for('static', filename='img/loader.gif') }}" alt="Loading...">
                            </div>
                            <div id="us-logs-table-container" style="display: none;">
                            <table id="us-logs-table" class="conflicts-table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Activity Time</th>
                                    <th>Action</th>
                                    <th>Document</th>
                                    <th>Actor</th>
                                    <th>Conflict</th>
                                    <th>Resolution</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            </div>

                        </div>
                        <div class="feedback-form" style="display:none;">
                            <h2>Feedback Form</h2>
                            <div class="form-group">
                              <label for="acceptability">Rate the acceptability of the resolution (1-5):</label>
                              <select id="acceptability" onchange="toggleEffectivenessQuestion()">
                                <option value="">Select a rating</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                            </div>
                            <div id="effectiveness-question" class="form-group hidden">
                              <label>Was the provided resolution effective?</label>
                              <input type="radio" id="yes" name="effectiveness" value="yes" onclick="toggleAlternativeSolution()">
                              <label for="yes">Yes</label>
                              <input type="radio" id="no" name="effectiveness" value="no" onclick="toggleAlternativeSolution()">
                              <label for="no">No</label>
                            </div>
                            <div id="alternative-solution" class="form-group hidden">
                              <label for="alternative">What is the alternative resolution that you want to suggest?</label>
                              <input type="text" id="alternative" name="alternative">
                            </div>
                          </div>
                        
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary complete-task" data-bs-dismiss="modal" onclick="closeModal('task1-modal')">Complete Task 1</button>
                    </div>
                </div>
            </div>
        </div>

          <!-- Task modal-2 -->
          <div class="modal" tabindex="-1" id="task2-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <center><h5 class="modal-title">Move Conflicts</h5></center>
                        <button type="button" class="close-btn" onclick="closeModal('task1-modal')">&times;</button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary complete-task" data-bs-dismiss="modal" onclick="closeModal('task2-modal')">Complete Task 2</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Task modal-3 -->
        <div class="modal" tabindex="-1" id="task3-modal">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <center><h5 class="modal-title">Edit Conflicts</h5></center>
                    <button type="button" class="close-btn" onclick="closeModal('task1-modal')">&times;</button>
                  </div>
                  <div class="modal-body">
                      <!-- Task 1 content and questions go here -->
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary complete-task" data-bs-dismiss="modal" onclick="closeModal('task3-modal')">Complete Task 3</button>
                  </div>
              </div>
          </div>
      </div>

              <!-- Task modal-4 -->
        <div class="modal" tabindex="-1" id="task4-modal">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <center><h5 class="modal-title">Delete Conflicts</h5></center>
                    <button type="button" class="close-btn" onclick="closeModal('task1-modal')">&times;</button>
                  </div>
                  <div class="modal-body">
                      <!-- Task 1 content and questions go here -->
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary complete-task" data-bs-dismiss="modal" onclick="closeModal('task4-modal')">Complete Task 4</button>
                  </div>
              </div>
          </div>
      </div>

           <!-- Task modal-5 -->
           <div class="modal" tabindex="-1" id="task5-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <center><h5 class="modal-title">Create Conflicts</h5></center>
                        <button type="button" class="close-btn" onclick="closeModal('task1-modal')">&times;</button>
                    </div>
                    <div class="modal-body">
                        <!-- Task 1 content and questions go here -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary complete-task" data-bs-dismiss="modal" onclick="closeModal('task5-modal')">Complete Task 5</button>
                    </div>
                </div>
            </div>
        </div>
    


        <!----------------USER STUDY TAB END -->

        {% if user_role == 'admin' %}
         <!---- DRIVE LOG EVENTS ---------------------->
        <div id="admin-tab-1" class="tab-content">
            <h2>Drive Log Events</h2>
            <p>This is the content for Admin Tab 1.</p>
        </div>
        <!---- DRIVE LOG EVENTS  END---------------------->
        

        <!---- SIMULATE ACTIONS---------------------->
        <div id="admin-tab-2" class="tab-content">
            <h2>Simulate Actions</h2>
            <p>This is the content for Admin Tab 2.</p>
        </div>
        <!---- SIMULATE ACTIONS END---------------------->
        
        <!---- REGISTER or ADD USER---------------------->
        <div id="admin-tab-3" class="tab-content">
            <center><h2>Register New User</h2></center>
            <form id="register-form">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="role">Role:</label>
                <select id="role" name="role" required>
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>

                <button type="submit">Register</button>
            </form>
        </div>

        <!---- REGISTER USER END---------------------->

        {% endif %}
    </main>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/detection.js') }}"></script>
    <script src="{{ url_for('static', filename='js/actionconstraint.js') }}"></script>
    <script src="{{ url_for('static', filename='js/userstudy.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>
</html>
